<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creativity Project 3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Above angular compilation -->
    <link rel="stylesheet" type="text/css"  href="main.css">
</head>
<body ng-app>
    <!-- Adding the ng-app declaration to initialize AngularJS -->
    <div id="main">
        <!-- The navigation menu will get the value of the "active" variable as a class.
             The $event.preventDefault() stops the page from jumping when a link is clicked. -->

        <nav class="{{active}}" ng-click="$event.preventDefault()">

            <!-- When a link in the menu is clicked, we set the active variable -->

            <a href="#" class="Welcome" ng-click="active='Welcome'">Welcome!</a>
            <a href="#" class="Search" ng-click="active='Search'">Random Search</a>
            <a href="#" class="Contact" ng-click="active='Contact'">Contact</a>
        </nav>

        <!-- ng-show will show an element if the value in the quotes is truthful,
             while ng-hide does the opposite. Because the active variable is not set
             initially, this will cause the first paragraph to be visible. -->

        <p ng-hide="active">Welcome to Random searches done with Angular! Please navigate to the search tab to be able to search random things!</p>
        <p ng-show="active">You are currently on the <b>{{active}}</b> tab
        </p>
    </div>
    <!-- Initialize a new AngularJS app and associate it with a module named "instantSearch"-->
    <div ng-app="instantSearch" ng-controller="InstantSearchController">

        <div class="bar">
            <!-- Create a binding between the searchString model and the text field -->
            <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
        </div>

        <ul>
            <!-- Render a li element for every entry in the items array. Notice
                 the custom search filter "searchFor". It takes the value of the
                 searchString model as an argument.
             -->
            <li ng-repeat="i in items | searchFor:searchString">
                <a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
                <p>{{i.title}}</p>
            </li>
        </ul>

    </div>
</body>

</html>